.bg-blue-100 {
    background-color: rgba($color: #0d6efd, $alpha: .1);
}

.bg-indigo-100 {
    background-color: rgba($color: #6610f2, $alpha: .1);
}

.bg-red-100 {
    background-color: rgba($color: #dc3545, $alpha: .1);
}

.bg-green-100 {
    background-color: rgba($color: #198754, $alpha: .1);
}

.bg-yellow-100 {
    background-color: rgba($color: #ffc107, $alpha: .1);
}